<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>web sample</display-name>
	<description>The Demo Of  Filter And Servlet</description>
	<!--<context-param> 
			<param-name>log4jConfigLocation</param-name> 
			<param-value>WEB-INF/log4j.properties</param-value> 
		</context-param> -->
	<servlet> 
		<servlet-name>log4jinit</servlet-name> 
		<servlet-class>org.gradle.sample.Log4JInitServlet</servlet-class> 
		<init-param> 
			<param-name>log4jConfig</param-name> 
			<param-value>/WEB-INF/log4j.properties</param-value> 
		</init-param> 
		<load-on-startup>1</load-on-startup>
	</servlet>
    <servlet-mapping>
        <servlet-name>log4jinit</servlet-name>
        <url-pattern>/log4jinit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sampleServlet</servlet-name>
        <servlet-class>org.gradle.sample.SampleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sampleServlet</servlet-name>
        <url-pattern>/sampleServlet</url-pattern>
    </servlet-mapping>

	<filter>
		<filter-name>logginFilter</filter-name>
		<filter-class>org.gradle.sample.LogginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>secondFilter</filter-name>
		<filter-class>org.gradle.sample.SecondFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>secondFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>